fastapi
uvicorn
python-dotenv
pydantic
python-multipart
requests
httpx
# --- Core dependencies ---
psycopg2-binary
sentence-transformers
numpy
pypdf
PyJWT
# --- AST parsing ---
tree-sitter
tree-sitter-python
tree-sitter-cpp
nest-asyncio
